<div class="card border-primary mb-3">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Clients List</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type= "button" [routerLink]= "['/clients/form']">
        Create New Client
      </button>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.lastName }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.createAt }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
